@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-family-sans: var(--font-inter);
}

body {
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
